h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
body {
    background-color: black;
}
.alone {
    width: 200px;
	height: 200px;
    display: block;
  margin: 0 auto;
}
p {
    color: white;
    text-align: center;
}

.yt{
    height: 46.875px;
    width: 128px;
    display: block;
  margin: 0 auto;
}
